<h2>Lista učenika</h2>
<table class="table table-striped"> 
    <thead>
        <tr>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Usmena ocjena</th>
        <th>Pismena ocjena</th>
        <th>Zakljucena ocjena</th>
        <th>Opcije</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor = "let ucenik of ucenici">
<td> {{ucenik.ime}} </td>
<td> {{ucenik.prezime}} </td>
<td> {{ucenik.usmenaOcjena | myNumberFormatter}} </td>
<td> {{ucenik.pismenaOcjena | myNumberFormatter}} </td>
<td *ngIf="ucenik.zakljucena && klikZakljuciti; else crtica"> {{ucenik.zakljucenaOcjena | number:'1.0-0'}} </td>
<ng-template #crtica>
<td> 
    - 
</td>
</ng-template>
<td>
    <button (click)="viewUcenik(ucenik.id)" class="btn btn-info">Vidi</button>
    <button (click)="updateUcenik(ucenik.id)" class="btn btn-info" style="margin-left: 10px;">Izmjeni</button>
    <button (click)="deleteUcenik(ucenik.id)" class="btn btn-danger" style="margin-left: 10px;">Izbrisi</button>
</td>
    </tr>
</tbody>
</table>
<button (click)="zakljuciti()" class="btn btn-info" style="margin-left: 680px;">Zakljuci ocjene</button>