<!-- Section-->
<div class="col-lg-9">
    <div class="row">
        <div class="col-12 col-md-4">

<div class="thumbnail">
<img src="assets/img/ucenik.jpeg" width="250" height="300" />
</div>

        </div>
        <div class="col-12 col-md-8">
            
            <h3>{{ucenik.ime}} {{ucenik.prezime}}</h3>
            <hr/>

            <h6>Pismena ocjena: {{ucenik.pismenaOcjena}}</h6>
            <hr/>

            

            <h6>Usmena ocjena: {{ucenik.usmenaOcjena}}</h6>
            <hr/>

            <h5>Zakljucena ocjena: <strong>{{ucenik.zakljucenaOcjena}}</strong></h5>
            <hr/>

            <a routerLink="/ucenici" class="btn btn-success">
                 Back
              </a> 
    
        </div>
    </div>
</div>