<!-- Section-->
<div class="col-lg-9 mt20">
    <div class="row">
        <div class="col-12 col-md-4">

            <div class="thumbnail">
                <img src="assets/img/ucenik.jpeg" class="profile-image" width="250" height="300" />
            </div>

        </div>
        <div class="col-12 col-md-8">

            <h3>{{ucenik.ime}} {{ucenik.prezime}}</h3>
            <hr />

            <h5>Pismena ocjena: {{ucenik.pismenaOcjena}}</h5>
            <hr />



            <h5>Usmena ocjena: {{ucenik.usmenaOcjena}}</h5>
            <hr />

            <h4>Zakljucena ocjena: <strong>{{ucenik.zakljucenaOcjena}}</strong></h4>
            <hr />
            
                <a routerLink="/ucenici" class="btn btn-success">Back</a>
        </div>
    </div>
</div>